
body{
	background: url(imagens/back.png);
	
	}

.Tudo{
	margin-top:5px;
	margin-bottom:70px;
	}

.caixa{
	width: 90%;
	background: #a8a9ad;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 0px 50px #a8a9ad;
	
	}

p{
	font-size: 24px;
	}

h3{
	text-shadow: #f77e00 0 1px 10px;
	color: #fff;
	background: #f77e00;
	border-radius: 5px;
	padding: 3px;
	}

.textoinstru{
	font-size: 20px;
	}

.btnbot{
	margin: 10px;	
	}

.texto-h2{
	font-size: 25px;
	color: #666;
	text-shadow: 0 1px 2px #666;
	}

.face{
    width: 50px;
    height: 50px;
    }
.dropdown-menu{
	background-color: #bcbbb8;
	box-shadow: 0 0 10px;
	text-shadow: 0 1px 0 #666;
	}
.trup{
	margin: 10px auto;
}

/**Pagina Atendimento**/
.card-img-top{
    height: 200px;
    box-shadow: 0 0 20px #666;
	}
.card-body{
    height: 250px;
    background: #d1d1d1;
    box-shadow: 0 0 20px #666;
    }
.zoom{
    overflow: hidden;
    }
.zoom img{
    transition: all 1.5s ease;
	}
.zoom:hover img{
    transform: scale(1.5);
}
.card-text{
	font-size: 19px;
}

/**QUEMSOMOS**/
.quemsomos{
	color: white;
}
.textoquem{
	font-size: 23px;
	color: white;

}
.textolistaquem{
	color: white;

}
.introquemsomos{
	color: white;
	text-align: center;
	text-shadow: 0 1px 10px black;
	margin-bottom: 25px;
	
}
.btnquemsomos{
	margin-bottom: 15px;
}
.media{
	color: white;
	font-size: 20px;
	margin-bottom: 15px;
}
.imgtudo{
	margin: 0 auto;
}

/**Chamado**/




/**Roteador**/

.meiorot{
	margin-bottom: 20px;
	padding: 20px;
}

.imgfotos{
	margin: 15px auto;
}



